{% load staticfiles i18n thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">На главную</a>
<br>
<h1>Новый транспорт</h1>
<form class="jsAddVehicleForm form" action="{% url 'vehicle' %}" method="post">
    {% csrf_token %}
    <p>Название<br><input name="name" type="text" placeholder="url"></p>
    <input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session['AUTHORIZATION']" />
    <p>Дата производства<br><input type="number" name="created_at"></p>
    <button type="submit">Отправить</button>
</form>
</body>
</html>