{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="registration/">Зарегистрироваться</a>
<br/>
<a href="sign_in/">Войти</a>
<br/>
<a href="vehicle/">Добавить транспорт в систему</a>
<br/>
<a href="catalog_vehicle/">Добавить транспорт пользователю</a>
<br/>
<a href="cabinet/">Кабинет</a>
</body>
</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
