{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">На главную</a>
<br>
<br>
    <form method="patch" action="{% url 'user' %}" class="cabinet-page jsUserProfile">
        {% csrf_token %}
        <div>
            <div>
                <div>Персональные данные</div>
                <div>
                    <div>
                        <input type="text" name="email" pattern="^((?!\s{2}).)*$" required value="{{ object.username|default_if_none:'' }}"
                               placeholder="Электронная почта">
                    </div>
                </div>
                <div>
                    <div>
                        <input type="text" name="first_name" pattern="^((?!\s{2}).)*$" required value="{{ object.first_name|default_if_none:'' }}" placeholder="Имя">
                    </div>
                </div>
                <div>
                    <div>
                        <input type="text" name="last_name" pattern="^((?!\s{2}).)*$" required value="{{ object.last_name|default_if_none:'' }}"
                               placeholder="Фамилия">
                    </div>
                </div>
            </div>
            <div>
                <div>Дополнительная информация</div>
                <div>
                    <div>{{object.language.fullname_ru}}</div>
                    <select name="language" id="language">
                        <option value=""></option>
                        {% for code, text in languages %}
                        <option {% if object.language == code %}selected{% endif %} value="{{ code }}">{{ code.fullname_ru }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div>
                        <div>
                            <button type="submit">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>