{% load staticfiles i18n thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">На главную</a>
<br>
<h1>Каталог транспорта</h1>
{% for object in objects %}
<div>
    <h4>{{ object.name }}</h4>
    <p>Год выпуска {{object.created_at}}</p>
    <form class="jsAddVehicleUserForm form" action="{% url 'add_user_vehicles' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session['AUTHORIZATION']" />
        <input type="hidden" value="{{object.id}}" name="auto_id">
        <button type="submit">Добавить</button>
    </form>
</div>
{% endfor %}
</body>
</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>