{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">На главную</a>
<br>
<a href="/registration/">Зарегистрироваться</a>
<br>
<h1>Авторизация</h1>
<form class="form" action="{% url 'auth_login' %}" method="post">
    {% csrf_token %}
    <p>email<br><input name="username" type="text" placeholder="email"></p>
    <p>password<br><input type="text" name="password"></p>
    <button type="submit">Отправить</button>
</form>
</body>
</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
