{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">На главную</a>
<br>
<a href="/sign_in/">Войти</a>
<br>
<h1>Регистрация</h1>
<form class="jsRegistrationForm form" action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    <p>email<br><input name="email" type="text" placeholder="email"></p>
    <p>password<br><input type="text" name="password"></p>
    <p>password2<br><input type="text" name="password_confirm"></p>
    <button type="submit">Отправить</button>
</form>
</body>
</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
